.one {
  text-align: center;
}

.two {
  margin-left: 250px;
  margin-right: 250px;
}

.three {
  margin-left: 600px;
  display: inline-block;
}


html {
  background-color: teal;
  font-family: Verdana;
  color: brown;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}